/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 29, 2024, 10:42:20 PM
    Author     : quanpyke
*/

.quantity-column {
                text-align: right; /* Canh phải cho các giá trị quantity */
                width: 50px; /* Đặt độ rộng cụ thể cho cột */
            }
            .price-column {
                text-align: right; /* Canh phải cho các giá trị price */
            }